<div id="game-view" game-controller>
  <canvas id="canvas"> </canvas>
  <div id="game-start" class="popup">
    <div class="game-play"><img ng-src="{{image.start}}"></img></div>
  </div>
  <div id="game-death" class="popup" style="display: none">
    <div id="game-box" ng-bind-html="trust(message)"></div>
    <div class="game-share"><img ng-src="{{image.share}}"></img></div>
    <div class="game-play"><img ng-src="{{image.replay}}"></img></div>
  </div>
  <div id=game-share>
    <img src="/images/share-arrow.png"></img>
    <p>请点击右上角<br>点击【分享到朋友圈】<br>{{share}}</p>
  </div>
  <div ng-include="load(name)"></div>
</div>

