<div class="container">
	<div class="header"><h1 class="page-header">页游合集</h1></div>
	<div class="jumbotron">
		<table class="table">
			<th class="success">游戏列表</th>
			<tr><td><a href="/snake.html">snake</a></td></tr>
			<tr><td><a href="/digger.html">digger</a></td></tr>
			<tr><td><a href="">more...</a></td></tr>
		</table>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-sm-1"></div>
		<div class="col-sm-9">
			<p>简单上手又好玩的游戏, 后续将推出更多丰富的内容. 如果你想到什么好玩的游戏, 发邮件到hjguyue@gmail.com, 我们帮你实现.</p>
		</div>
	</div>
</div>