
body {
  background: url("/images/bg.jpg");
  background-size: 100% 100%;
}

#canvas {
  padding-top: 5px;
}

#game-start {
  margin-top: -200px;
  position: relative;
  margin-bottom: 118px;
}

#game-death {
  margin-top: -295px;
  position: relative;
  margin-bottom: 11px;
}

#game-death>div.game-play, #game-death>div.game-share {
  display: inline-block;
}

#game-box {
  background: url("/images/box.png");
  width: 274px;
  height: 219px;
  margin: auto;
  font-size: 20px;
  font-family: microsoft yahei;
}

#dig {
  margin-top: -355px;
  position: relative;
  margin-left: -230px;
}

